<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.shs.com/HearingLanguageTest" 
       class = "com.shs.hl.hearingLanguageTest.HearingLanguageTestPackage"
       genModel = "com/shs/hl/HearingLanguageTest.genmodel" /> 
	
  </extension>




</plugin>
